html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

body {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto,
    Oxygen-Sans, Ubuntu, Cantarell, 'Helvetica Neue', sans-serif,
    'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol';

  background-image: url('./images/bg-pattern.png');
}

input[type='text'] {
  width: 25%;
  padding: 8px 20px;
  margin: 8px 0;
  box-sizing: border-box;
  outline: none;
  border: 2px solid;
  border-radius: 4px;
  background-color: white;
  background-image: url('./images/explore.svg');
  background-position: 10px 4px;
  background-repeat: no-repeat;
  padding-left: 50px;
  font-size: 22px;
  margin-left: 60px;
}

input[type='text']:focus {
  background-color: rgb(174, 252, 174);
  border-color: rgb(0, 130, 43);
}
.wrapper {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}
.title {
  display: block;
  text-align: center;
  margin-top: 25px;
  margin-bottom: 35px;
  font-size: 50px;
}

p {
  font-size: 26px;
  font-weight: bold;
}
.country-item,
.country-info {
  font-size: 26px;
  font-weight: normal;
}
.card-img {
  box-shadow: 10px 10px 8px 12px rgba(0, 0, 0, 0.3);
}
